*#
*#*
*.0
*.BAK
*.a
*.aux
*.bak
*.bin
*.bm
*.bss
*.c32
*.com
*.cp
*.d
*.dvi
*.egg
*.egg-info
*.elf
*.exe
*.gen
*.generated
*.iml
*.la
*.lib
*.lnx
*.lo
*.log
*.lsr
*.lst
*.map
*.mo
*.o
*.obj
*.old
*.orig
*.out
*.pdf
*.png
*.ps
*.py[cod]
*.raw
*.rej
*.s
*.sec
*.so
*.swp
*.sys
*.tdy
*.tmp
*.toc
*.txt
*_bin.c
*~
.#*
.*#
.*.swp
.DS_Store
.Trashes
.\#*
